<div id="intro">
  <div class="title">
    <h1>Who Am I?</h1>
  </div>
  <div class="left">
    <p>My name is Dallas Norton. I am a web developer currently employed full-time by <a href="http://www.domo.com">Domo</a></p>
    <p>This website is to help me keep up. There is so much going on on the web that its hard to know what you don’t know. In the words of Confucius “Real knowledge is to know the extent of one’s ignorance”</p>
    <p>Dunning-Kruger effect</p>
  </div>
  <div class="right">
    <p><img src="images/avatar_dallas.png" alt="Dallas Norton" /></p>
  </div>
  <div class="clear"></div>
</div>
<div class="divider"></div>
<div id="portfolio">
  <h1 class="pad">What have I worked on?</h1>
  <div class="item">
    <div class="wrapper">
      <div class="details">
        <h2>Domo <span>Mar 2014 - Current</span></h2>
      </div>
      <div class="image"><img src="images/replaceWithDomo" alt="Domo" /></div>
    </div>
  </div>
</div>